Repository echo-station/echo-station, pull requests merged in 2024-08, with the labels that each got.

#51 Fix admins in-round not getting role time
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
Labels: Changes: YML, Changes: C#

#52 Fix news reporter console access requirement
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: YML

#58 Make Sec borg require server whitelist
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/securityborg.yml
Labels: Changes: YML

#65 Gianormous changes
  Resources/Changelog/EchoChangelog.yml
Labels: Changes: YML

#67 Add missing changelog header
  Resources/Locale/en-US/_Echo/changelog-window.ftl
Labels: Changes: YML, Changes: Localization

#69 Re-add Captain's IDs to the locker, remove biscuits/ic card cabinets
  Resources/Migrations/echoMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML

#71 Buff portable particle decelerator to be useful
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
Labels: Changes: YML

#70 Add ability to pAIs to change their own name
  Content.Server/PAI/PAISystem.cs
  Content.Shared/PAI/PAIComponent.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Resources/Prototypes/_Echo/Actions/pai-actions.yml
Labels: Changes: YML, Changes: C#

#77 TEG no longer requires power
  Content.Server/Power/Generation/Teg/TegSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
Labels: Changes: YML, Changes: C#

#83 Early merge "always show job requirements" wizden PR
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Shared/DeltaV/Roles/JobRequirement/WhitelistRequirement.cs
  Content.Shared/Roles/JobRequirement/AgeRequirement.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/SpeciesRequirement.cs
  Content.Shared/Roles/JobRequirements.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/en-US/_Echo/role-requirements.ftl
  Resources/Locale/en-US/job/role-requirements.ftl
  Resources/Locale/en-US/job/role-whitelist.ftl
Labels: Changes: YML, Changes: C#, Changes: UI, Changes: Localization

#81 Add German accent (#30541)
  Content.Server/Speech/Components/GermanAccentComponent.cs
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Resources/Locale/en-US/accent/german.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#80 Shield Reworks
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: YML

#91 Fix Prosecutor PDA and ID card coloring
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/_Echo/Objects/Devices/pda.rsi/equipped-BELT.png
  Resources/Textures/_Echo/Objects/Devices/pda.rsi/equipped-IDCARD.png
  Resources/Textures/_Echo/Objects/Devices/pda.rsi/id_overlay.png
  Resources/Textures/_Echo/Objects/Devices/pda.rsi/insert_overlay.png
  Resources/Textures/_Echo/Objects/Devices/pda.rsi/light_overlay.png
  Resources/Textures/_Echo/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Echo/Objects/Devices/pda.rsi/pda-prosecutor.png
  Resources/Textures/_Echo/Objects/Misc/id_cards.rsi/idprosecutor.png
  Resources/Textures/_Echo/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#96 Added CentCom pAI
  Content.Server/PAI/PAISystem.cs
  Content.Server/_Echo/PAI/PAICentComSystem.cs
  Content.Shared/PAI/PAIComponent.cs
  Content.Shared/_Echo/PAI/PAICentComComponent.cs
  Content.Shared/_Echo/PAI/SharedPAICentComSystem.cs
  Resources/Locale/en-US/_Echo/pai/centcom-pai-system.ftl
  Resources/Locale/en-US/_Echo/pai/pai-system.ftl
  Resources/Prototypes/_Echo/Entities/Objects/Fun/centcom_pai.yml
  Resources/Textures/_Echo/Interface/Actions/pai-shock.rsi/meta.json
  Resources/Textures/_Echo/Interface/Actions/pai-shock.rsi/pai-shock.png
  Resources/Textures/_Echo/Objects/Fun/centcom_pai.rsi/centcom-icon-pai-off.png
  Resources/Textures/_Echo/Objects/Fun/centcom_pai.rsi/centcom-pai-base.png
  Resources/Textures/_Echo/Objects/Fun/centcom_pai.rsi/centcom-pai-off-overlay.png
  Resources/Textures/_Echo/Objects/Fun/centcom_pai.rsi/centcom-pai-on-overlay.png
  Resources/Textures/_Echo/Objects/Fun/centcom_pai.rsi/centcom-pai-searching-overlay.png
  Resources/Textures/_Echo/Objects/Fun/centcom_pai.rsi/meta.json
Labels: Changes: YML, Changes: C#, Status: Needs Review, Changes: Sprite, Changes: Localization
