Repository echo-station/echo-station, pull requests merged in 2024-07, with the labels that each got.

#21 Make door remotes also use ID card access, add Maintenance to fire-fighting door remote
  Content.Server/Remotes/DoorRemoteSystem.cs
  Resources/Prototypes/Access/engineering.yml
Labels: Changes: YML, Changes: C#

#23 Fix Senior PDAs not having the correct Senior ID preset applied
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: YML

#39 Removes Micro
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: YML, Changes: Map

#42 Fix fax notification in admin chat not specifying anything useful
  Content.Server/Fax/FaxConstants.cs
  Content.Server/Fax/FaxSystem.cs
  Resources/Locale/en-US/fax/fax.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#49 Increase minimum interval between random events
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
Labels: Changes: YML, Changes: C#
